



 #canvas-basic{
    background-color: orange;
}
.city {
    display: inline-block;
    align-content: center;
    width: 50%;
    margin: auto;
    padding: 3vh;
  }
  #cityInput {
    color: #333;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 100%;
    display: block;
  }
  #findBtn {
    margin: auto;
  }
  button {
    padding: 3vh;
  }
  #canvas-basic {
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -9999;
  }
  #content {
    z-index: 10;
    position: relative;
    background-color: white;
    color: black;
    width: 200px;
    height: 300px;
  }
  #particles-js {
    height: 100%;
    width: 100%;
    position: fixed;
    opacity: 50%;
  }
  .card {
    border-radius: 10px;
  }
  a {
    color: rgb(240, 171, 44);
  }
  a:hover {
    color: rgb(240, 171, 44);
  }
.title {
    font-family: 'Playfair Display', serif;;
    color: seashell;
    text-shadow: 1px 1px 10px black;
    font-size:  70px;
  }
  .subtitle {
    font-family: 'Playfair Display', serif;
    color: seashell;
    text-shadow: 1px 1px 10px black;
  }
  .subtitle2 {
    font-family: 'Playfair Display', serif;
    color: seashell;
    font-size: 1.5em;
    text-shadow: 1px 1px 10px black;
  }
  #map {
    border-radius: 10px;
    border: 0.75rem;
    border-style: solid;
    border-color: white;
    width: 60%;
    margin: 0px auto;
  }
    @media only screen and (max-width: 600px) {
    #map {
      width: 100%;
    }
    .city {
      width: 90%;
    }
      .title{
        font-size: 50px;
    }
    .card-content {
      font-size: 25px;
      align-content: stretch;
    }
  }
    @media only screen and (max-width: 400px){
    .title{
        font-size: 40px;
    }
    .card-content {
      font-size: 15px;
      align-content: stretch;
      color: black;
      text-align: center;
    }
}

@media only screen and (min-width: 768px) {
  .card-content {
    font-size: 20px;
    align-content: stretch;
  }
#list_view, #map_view{
  align-content: center;
}
#view_buttons{
  display: flex;
  position: fixed;
  z-index: 2;
  right: 5px;
  bottom: 10px;
}

#venue_list{
font-size: 10px;
  text-align: center;
}

.card-content {
  float: left;
  width: 30%;
  background-color: cornsilk;
    height: 200px;
    margin: 10px;
    text-align: center;
    padding: 25px;
    font-size: 2em;
  -webkit-box-shadow: -7px 11px 25px -9px rgba(0,0,0,1);
  -moz-box-shadow: -7px 11px 25px -9px rgba(0,0,0,1);
  box-shadow: -7px 11px 25px -9px rgba(0,0,0,1);
  }



